@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header{
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #6c9ff1;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board{
  width: 90%;
  max-width: 500px;
  padding: 20px 25px;
  border: 2px solid #6c9ff1;
  margin-top: 20px;
  border-radius: 10px;
}
.user-moves{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user-moves button{
  border-radius: 50%;
  border: 2px solid #6c9ff1;
  background: transparent;
  cursor: pointer;
}
.user-moves button img{
  height: 100%;
  width: 100%;
  max-height: 90px;
  max-width: 90px;
  padding: 20px 25px;
  text-align: center;
  color: #6c9ff1;
  cursor: pointer;
}
.feature-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.feature-buttons button{
  box-sizing: border-box;
  width: 100%;
  max-width: 120px;
  font-size: 0.8em;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.feature-buttons button:first-child{
  color: white;
  background: black; 
}
.feature-buttons button:last-child{
  color: #0606dc;
  background-color: #e9ebeb;
}
.display-moves{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.display-moves .result{
  font-weight: 600;
  font-size: 1.5em;
  color: #5e5efb;
}
.show-moves{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
} 
.show-moves i{
  color: #5e5efb;
  font-size: 5em;
}
.count-result{
  color: #0606dc;
  word-spacing: 10px;
  font-weight: 600;
}